body {
    background-image: url("nada511075.github.io/marguerite-daisy-beautiful-beauty.jpg");
    background-repeat: no-repeat;
    background-position:
    background-attachment: fixed;
}
  
   
img { 
   width: 800px;
   height: 450px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}




   

h1{
 
 font-family: Italianno;
 text-align:center;
 color;yellow
 font-size: 50px;
}


h2{
  color: LightBlue;   
}


h3{
 color: LightBlue; 
}body {
    background-image: url("nada511075.github.io/marguerite-daisy-beautiful-beauty.jpg");
    background-repeat: no-repeat;
    background-position: 
    background-attachment: fixed;
}
  
   
img { 
   width: 200px;
   height: 150px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}




 

h1{
 
 font-family: Italianno;
 text-align:center;
 color: yellow;
 font-size: 50px;
}


h2{
  color: LightBlue;   
}


h3{
 color: LightBlue; 
}

h4{
 color: LightBlue; 
}
p{
color: LightBlue;
}


li{
   color: LightBlue;
}


h4{
 color: LightBlue; 
}
p{
color: LightBlue;
}


li{
   color: LightBlue;
}
