body {
    background-image: ur;("skulls-background-pattern-0023.jpg")
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
  l
   
img { 
   width: 500px;
   height: 150px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}





h1{
 
 font-family: Italianno;
 text-align:center;
 color:pink;
 font-size: 50px;
}


h2{
  color: pink;   
}


h3{
 color: LightBlue; 
}

h4{
 color: LightBlue; 
}
p{
color: LightBlue;
}


li{
   color: LightBlue;
}


